@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1260px;
    margin: auto;
    padding: 0 30px;
}

.header{
    height: 100vh;
    padding: 50px 0 ;
    background: radial-gradient(circle at 10% 20%, rgb(161, 255, 206) 0%, rgb(250, 255, 209) 90%);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-burger-btn {
    cursor: pointer;
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.header-burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000000;
    top: 0;
    left: 0;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.header-burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}
    
.header-burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header-burger-btn span {
   background-color: black;
}
    
.header.open .header-burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}
    
.header.open .header-burger-btn span:nth-child(2) {
    opacity: 0;
}
    
.header.open .header-burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}
    
.logo img {
    color: #2657a4;
}

.nav-items {
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
}

.nav-link a {
    color: #51565e;
    position: relative;
}

.nav-link a:hover {
    color: #2657a4;
    transition: all .3s ease;
}

.nav-link a::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: -10px;
    left: 0;
    width: 0;
    background-color: #2657a4;
    transition: all .3s ease;
}

.nav-link a:hover::after{
    width: 100%;
}


.btn {
    padding: 15px 30px;
    background-color: #2657a4;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 3px 3px #2657a4;

    color: #fff;
    font-weight: 500;
    font-size: 18px;
    transition: all .7s ease;
}

.btn:hover {
   background-color: #000000;
    box-shadow: 5px 3px 3px #000000;

}
.header-inner {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
}
.header-content h1 {
    font-weight: 600;
    font-size: 62px;
    margin-bottom: 25px;
}

.header-content h1 span {
    color: #2657a4;
}

.header-content p {
    font-size: 18px;
    font-weight: 400;
    color: #51565e;
    line-height: 160%;
    margin-bottom: 35px;
}

.header-img img {
    width: 130%;
}

.section1 {
    margin: 80px 0;
}

.section1-inner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.section1-img img {
    margin-left: -200px;
}

.section1-content {
    padding-top: 50px;
    width: 450px;
}

.section1-content h1 {
    font-size: 40px;
    font-weight: 700;
}

.s1-card {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap:20px;
}

.s1-card h4 {
    font-size: 20px;
    margin: 20px 0;
}

.s1-arrow  {
    margin-top: -60px;
    font-size: 25px;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.s1-card p {
    font-size: 14px;
    font-weight: 400;
    color: #51565e;
    line-height: 160%;
}


.section2 {
    height: 100vh;
    background-image: url("../img/section2/section2-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section2-inner {
    text-align: center;
    padding: 200px 0 20px 0;
}

.section2 h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.pagi {
    margin-top: 50px;
    transform: translateX(0);
}

.slider2-card-img {
    text-align: center;
    padding: 40px 0 20px 0;
    background-color: #fff;
}

.slider2-card-content{
    opacity: 1;
    background-color: #fff;
    padding: 40px 40px 40px 40px;
}

.slider2-card-content:hover {
    opacity: 0;
}

.slider2-card-content_hover {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all .6s ease;
    padding: 40px;
    background-color: #2657a4;
    border-radius:20px 20px 0 0;
}

.slider2-card-content_hover:hover {
    opacity: 1;
}

.slider2-card-content_hover h4 {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}
.slider2-card-content_hover p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 160%;
    margin-bottom: 20px;
}
.slider2-card-content_hover a {
    font-size: 30px;
    color: #fff;
}


.slider2-card-content h4 {
    font-size: 25px;
    font-weight: 500;
    color: #060e1a;
    margin-bottom: 10px;
}
.slider2-card-content p {
    font-size: 14px;
    font-weight: 400;
    color: #51565e;
    line-height: 160%;
    margin-bottom: 20px;
}
.slider2-card-content a {
    font-size: 30px;
    color: #2657a4;
}

.section3 {
    margin: 100px 0;
}

.section3-inner {
    text-align: center;
}

.section3-inner h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.section3-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.section3-card {
    width: 360px;
    height: 480px;
    background-color: #fff;
    padding: 40px;
    position: relative;
    box-shadow: 0px 0px 10px 2px #2657a4;
}

.section3-card-plan h4 {
    font-size: 25px;
    font-weight: 500;
    color: #060e1a;
    margin-bottom: 10px;
}

.section3-card-plan_hover {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    transition: all .6s ease;
    background-color: #2657a4;
    padding: 40px 40px 0px 40px;
    border-radius:0px 0px 20px 20px;
}

.section3-card-plan_hover:hover {
    opacity: 1;
}

.section3-card-plan_hover h4 {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.section3-card-plan_hover b {
    color: #fff;
}

.section3-card-plan_hover .line {
    border: 1px dashed #ffffff;
    margin: 0 30px;
}

.line {
    border: 1px dashed #51565e;
    margin: 0 30px;
}

.price {
    margin: 10px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price h4 {
    font-size: 40px;
    font-weight: 700;
}
.price b {
    font-size: 24px;
    font-weight: 600;
}

.section3-card-services ul {
    font-size: 16px;
    font-weight: 400;
    color: #51565e;
}

.section3-card-services li {
    margin: 20px;
}

.section3-card-services button {
    margin-top: 30px;
}

.section4 {
    margin-bottom: 100px;
}

.section4-inner h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.section4-inner p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #51565e;
    line-height: 160%;
    margin-bottom: 35px;
}


.slider4-card {
    border: 2px solid #2657a4;
    border-radius: 20px;
    transition: all .6s ease;
}

.slider4-card:hover {
    border: 2px dashed #2657a4;
}

.slider4-quote {
    color: #2657a4;
    font-size: 20px;
    position: absolute;
    left: 50px;
    top: 30px;
}

.slider4-card-text {
    padding: 40px 60px 0 80px;
    font-size: 14px;
    font-weight: 400;
    color: #51565e;
    line-height: 160%;
    margin-bottom: 25px;
}

.slider4-card-people {
    padding: 0 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider4-card-name {
    margin-right: 30px;
}

.slider4-card-name h4 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.slider4-card-name p {
    font-size: 16px;
    font-weight: 400;
    color: #51565e;
}

.section5 {
    margin-bottom: 140px;
}

.section5-inner h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.section5-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.section5-block {
    box-shadow: 0px 0px 10px 2px #2657a4;
    border-radius: 10px;
}
.section5-block img {
    width: 100%;
    border-radius: 10px;
}
.section5-content-block {
    padding: 30px;
}

.section5-content-block .caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #515655;
    font-size: 14px;
    margin-bottom: 20px;
}

.section5-content-block h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.section5-content-block p {
    font-size: 14px;
    color: #515655;
    line-height: 160%;
    margin-bottom: 20px;
}

.footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,162,167,1) 100%, rgba(0,212,255,1) 100%);
    padding: 100px 0 35px 0 ;
}

.footer-inner {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 90px;
}

.footer-inner-socials p {
    margin: 20px 0;
    color: #b4b4b4;
    line-height: 160%;
}

.footer-inner-social {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.footer-inner-social a {
    color: #fff;
}

.footer-inner ul {
    font-size: 18px;
    color: #fff;
}

.footer-inner li {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.footer-inner li a {
    color: #b4b4b4;
}

.footer-inner a:hover {
    color: #fff;
    transition: all .3s ease;
}

.footer-inner a::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: -10px;
    left: 0;
    width: 0;
    background-color: #2657a4;
    transition: all .3s ease;
}

.footer-inner a:hover::after{
    width: 100%;
}

.footer-inner .input {
    display: flex;
    align-items: center;
}

.input input {
    border: 1px solid #fff;
    background-color: inherit;
    border-radius: 8px 0 0 8px;
    padding: 15px;
    box-shadow: 0 0 10px 2px #fff;
}

input::placeholder {
    color: #fff;
}

.input button {
    padding: 13px 20px;
    border-radius: 0 8px 8px 0 ;
    box-shadow: 0 0 10px 2px #fff;
}

.footer-copy {
    margin-top: 35px;
    border-top: 1px solid #515655;
    text-align: center;
    padding: 20px 0 0 0;
    color: #fff;
}

@media (width < 990px) {

    .header-burger-btn {
        display: block;
        z-index: 2;
    }

    .nav-items {
        border-radius: 10px;
        width: 350px;
        padding: 100px 20px 20px 20px;
        display: block;
        position: absolute;
        left: -350px;
        top: 0;
        background: radial-gradient(circle at 10% 20%, rgb(161, 255, 206) 0%, rgb(250, 255, 209) 90%);
        transition: transform .5s;
    }

    .nav-items .btn {
        margin-top: 10px;
        padding: 10px 15px;
        font-size: 14px;
    }

    .nav-link a {
        color: #000;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }

    .header.open .nav-items {
        transform: translateX(100%);
    }

    .nav-items {
        gap: 15px;
    }
    .header {
        height: 90vh;
    }
    .header-inner {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .header-img img  {
        width: 75%;
    }
    .section1-inner {
        grid-template-columns: repeat(1,1fr);
    }
    .section2 {
        height: 80vh;
    }
    .slider2-cards {
      width: 0;
    }
    .section3-cards {
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }

    .footer-inner {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}


@media (width < 769px) {
    .header-content h1 {
        font-size: 32px;
    }
    .header-content p {
        font-size: 16px;
    }
    .section3-inner {
        transform: translateX(25%);
    }
    .section3-cards {
        text-align: center;
        grid-template-columns: repeat(1,1fr);
    }
    .section4-inner p {
        font-size: 16px;
    }
}

@media (width < 480px) {
    .header-content p {
        font-size: 14px;
    }
    
    .section1-img img {
        transform: translateX(-25%);
        margin-left: 0;
        width: 100%;
    }

    .section1-content h1 {
        font-size: 32px;
    }

    .s1-card {
        width: 350px;
    }

    .section2 {
        height: 90vh;
    }

    .section2-inner {
        padding: 20px 0;
    }

    .section3-inner {
        transform: translateX(0);
    }
    
    .section3-inner h1 {
        font-size: 32px;
    }

    .section3-card {
        width: 310px;
    }

    .section4-inner h1 {
        margin-bottom: 30px;
    }
    .section4-inner p {
        font-size: 14px;
    }
    .slider4-card-name {
        margin-right: 0;
    }
    .slider4-card-name h4 {
        font-size: 14px;
    }

    .section5 {
        margin-bottom: 80px;
    }

    .section5-content {
        grid-template-columns: repeat(1,1fr);
        gap: 40px   ;
    }

    .footer-inner {
        grid-template-columns: repeat(1,1fr);
    }
    .footer-inner-socials p {
        font-size: 14px;
    }
}